.layout {
    width: 610px;
    margin: auto;
  }

  .accordion {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #070E27;
    border-radius: 10px;
  }

  .categoria p {
    font-weight: bold;
    margin: 5px;
    padding: 0;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    text-align: center;
  }

  .url p {
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Century Gothic, sans-serif;
    color: rgb(0, 0, 0);
    background: #e4e4e4  ;
    border-radius: 10px;
    margin-top: 10px;
  }
  

  .url h3{
    text-align: center;
  }

  .accordion:hover {
    cursor: pointer;
    background-color: #22253D;
  }

  .url {
    display: none;
  }
  .accordion.active {
    background-color: #22253D;
  }
  .accordion.active .url {
    display: block;
  }

  .btn-primary{
    background-color: #3f425e!important;
    border: 1px solid #3f425e!important;
    color: white!important;
    font-weight: bold;
    margin-top: 10px;
}

.btn{
    margin-top: 30px;
    width: 100%;
    line-height: 2.5;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}