@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500;1,600&display=swap');
* {font-family: 'Open Sans', sans-serif;}
*{color:white;}
body {
    background-color: #070E27!important;
}


/*Banner*/
.banner {
    display:inline-flex;
    background-image: url(../img/disco.jpg);
    background-color: #292b3d;
    margin-top: 0px;
    width: 101%;
    height: 90px;
    margin-left: -10px;
}

.banner div{
    margin-left: 100px;
}

.banner input{
    float: right;
    margin-top: 20px;
}

.banner input:hover{
    width: 40px;
}

.nombre {
    margin-left: 3%;
    color: #ffffff;
    font-size: 50px;
}

.descripcion {
    width: 100%;
    color: #000000;
    font-size: 20px;
}





/*Menu*/
nav {
    background-color: #22253D;
}

nav img{
    
    width: 60%;
   
}
#resultado{
    color:black;
}
nav a{
    color: white;
}
.redes {
    list-style: none;
    margin-left: 10%;
}
#ejercicio-footer{
    margin-top: 250px;
}
ul{
    list-style: none;
  }

  #w{
    color: #ffffff;
    margin-left: 550px;
    
  }

  #menu li>a:hover{
    color: #ccf4fc;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;  }
  #menu>li:hover>ul {
    display:contents;
  }
  #menu>li>ul>li{
      text-align: justify;
      position: relative;
  }


/* Contenido*/
body{
    background-color: #3f425e;
}
#container-imc{
    background-color: #22253D!important;
    border: 1px solid #6F4EF6!important;
}
#container-imc p{
    text-align: left!important;
    margin-top: 10px;

}
#saveButton{
    background-color: #6F4EF6!important;
    border: 1px solid #6F4EF6!important;
    color: white!important;
    font-size: 15px!important;
    padding: 10px!important;
    margin-top: 10px!important;
    margin-left: 10px!important;
}
#saveButton:hover{
    background-color: #ffffff!important;
    color: #6F4EF6!important;
}
.combo{
    color: black !important;
}

.combo option{
    color: black !important;
}
.day {
    color: black !important;
    font-size: 13px;
    margin-left: 10px;
}
.day:hover{
    color: #6F4EF6!important;
}
#cancelButton{
    background-color: red!important;
    border: 1px solid red!important;
    color: white!important;
    font-size: 15px!important;
    padding: 10px!important;
    margin-top: 10px!important;
    margin-left: 10px!important;
}
#cancelButton:hover{
    background-color: #ffffff!important;
    color: red!important;
}
#closeButton{
    background-color: #6F4EF6!important;
    border: 1px solid #6F4EF6!important;
    color: white!important;
    align-items: center;
    font-size: 15px!important;
    padding: 10px!important;
    margin-top: 10px!important;
    margin-left: 10px!important;
}
#closeButton:hover{
    background-color: #ffffff!important;
    color: #6F4EF6!important;
}
#deleteButton{
    background-color: red!important;
    border: 1px solid red!important;
    align-items: center;
    color: white!important;
    font-size: 15px!important;
    padding: 10px!important;
    margin-top: 10px!important;
    margin-left: 10px!important;
}
#deleteButton:hover{
    background-color: #ffffff!important;
    color: red!important;
}
.btn-primary{
    background-color: #3f425e!important;
    border: 1px solid #6F4EF6!important;
    color: white!important;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
}
.btn-primary:hover{
    background-color: #6F4EF6!important;
    border: 1px solid #6F4EF6!important;
   
    color: white!important;
    font-weight: bold;
    
}
article{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2%;
}
article section{
    margin-top: 20px;
}

article p{
    color: rgb(0, 0, 0);
    font-size: 17px;
}

#servicios{
    padding: 2% 5% .1% 5%;
    margin-top: 5%;
}

.titulo_section{
    font-size: 23px;
    color: #000000;
    text-align: center;
}

.subtitulo_section{
    color: #000000;
    font-size: 18px;
}

.iconos, .iconos2{
    text-align: center;
    display: inline-block;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 2px 3px rgb(124, 120, 120);
    margin-left: 50px;
    width: 200px;
}
.jala input{
    color: black!important;
}
.iconos2 img{
    width: 100px;
    margin-top: 11%;
}

.iconos img{
    margin-top: 1%;
    width: 100px;
}

.iconos, .iconos2 h4{
    font-size: 18px;
}
#container{
    background-color: #22253D!important;
    border: 1px solid #6F4EF6!important;
    
}
.table-progreso{
    background-color: #22253D!important;
    border: 1px solid #6F4EF6!important;

}
.table-progreso caption{
    background-color: #22253D!important;
    border: 1px solid #6F4EF6!important;

}
.image {
    margin-top: 10%;
    position:relative;
}

.image img {
    width: 99%;
    height: 600px;
}

.image h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.image a {
    position: absolute;
    top: 220px;
    width: 10%;
    height: 6%;
    left: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 45%;
    color: #d649a0;
    padding: 10px 5px 5px 5px;
    text-decoration: none;
    border: 3px solid #d649a0;
}

.image a:hover{
    background-color: beige;
}

#about{
    padding: 5% 5% 5% 5%;
    margin-top: 10%;
}
#about p{
    margin-right: 20%;
}

#about img{
    float: right;
    width: 140px;
    margin-top: -20%;
}

#ejercicios{
    margin-top: 10%;
}

#ejercicios img{
    width: 100%;

}
.ejer h2{
    text-align: center;
}

.ejer{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: 320px;
}




/* Pie de pagina*/
footer{
    background-color: #22253D;
    padding: 2%;
    margin-top: 30px;
    
}
footer a{
    color: #ffffff!important;
    text-decoration: none!important;
}
table {
    background-color: #b0b8e8;
    text-align: center;
    margin-top: 50px;
    padding: 10px 10px 15px 10px;
    width: 61%;
    margin-left: 248px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table caption{
    background-color: #b0b8e8;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table td{
    border-bottom: solid 1px #74747c ;
}


