* {font-family: Century Gothic, sans-serif;}

body {
    /*background: rgb(247, 214, 242);*/
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: 100% 100%;
  }
  
  .login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }
  
  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  .login-header {
    background: rgb(152, 187, 216);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin-top: 100px;
  }
  
  .login-container {
    background: rgb(152, 187, 216);
    height: 450px;
    padding: 12px;
  }
  
  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }
  
  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .login input[type="email"],
  .login input[type="contraseña"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="contraseña"]:focus {
    border-color: #888;
  }
  
  .login input[type="submit"] {
    background: rgb(231, 140, 36);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .login input[type="submit"]:hover {
    background: rgb(224, 181, 124);
  }
  
  /* Buttons' focus effect */
  .login input[type="submit"]:focus {
    border-color: rgb(226, 145, 53);
  }

  nav {
    background-color: #94d3f0;
    padding: 3px;
    position: absolute;
    width: 100%;
    margin-top: -47%;
    margin-left: -10px;
}

nav img{
    float: left;
    width: 7%;
    margin-left: 3%;
}

.menu, .redes {
    list-style: none;
    margin-left: 10%;
}

.menu li {
    display: inline-block;
    margin-top: 8px;
    margin-right: 3%;
    margin-left: 30px;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 18px;
}

.menu li a:hover {
    color: #1C0C5B;
    font-size: 19px;
}

.menu input{
    float: right;
    margin-right: 5%;
}

.menu input:hover{
    width: 38px;
}